<div class="Cadastro">
    <h1 class="h1">Faça Cadastro</h1>

    <input type="text" name="nome" placeholder="Nome de Usuário" id="nome" [(ngModel)]="nome" required>
    
    <input type="email" name="email" placeholder="Insira seu E-mail" id="email" [(ngModel)]="email" required>

    <input type="password" name="senha" placeholder="Insira sua Senha" [(ngModel)]="senha" required>

    <input type="password" name="confirmSenha" placeholder="Confirme sua Senha" [(ngModel)]="confirmSenha" required>

    <button class="continuar">Cadastrar</button>
</div>

